
# Mailgun api key
MAILGUN_API_KEY = 3c5f4c26f80c89c2bb11549381c3e984-680bcd74-50c99ecf

# Mailgun domain
MAILGUN_DOMAIN_URL = sandbox68394c61de734b4081341efa247dd551.mailgun.org

# server email address
FROM_WHO = emirates@testApp.com

# Admin email address
ADMIN_EMAIL = madaviary@gmail.com

# Server Port
PORT = 7100